:root {
  --black: #111111;
  --purple: #9771c3;
  --dark-purple: #4d316e;
}
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  padding: 0;
  font-family: 'Nunito Sans',sans-serif;
  font-size: 110%;
}


body {
  margin: 5% 15% 5% 15%;
  color: var(--black);
}

a {
  color: black;
  font-family: 'Nunito Sans',sans-serif;
  text-decoration: none;
}

a.intro{
  color: var(--black);
  text-decoration: underline;
}

a.underline{
  line-height: 0.7em;
  border-bottom: 1.5px var(--purple) solid;
}

a:visited {
  color: black;
}

a:hover{
  color: var(--purple);
}

h1 {
  font-family: 'Nunito Sans',sans-serif;
  font-weight: 1000;
  font-size: 130%;
  color: var(--dark-purple);
}

h2 {
  font-family: 'Nunito Sans',sans-serif;
  font-weight: 1000;
  font-size: 130%;
  color: var(--black);
}

.top-bar-container {
  display: flex;
  justify-content: space-between;
  
}
.logo {
  font-size: 130%;
  border-bottom: 0px;
}

ul.a {
  list-style: none;
  padding-left: 0%;
}

li.a { padding: 3px; }