:root {
  --primary1: #446586;
  --primary2: #6b89a7;
  --primary3: #6b89a7;
  --primary4: #111111;
}
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  padding: 0;

  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 3% 5%;
  color: var(--primary4);
}

a {
  color: black;
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
}

a.intro{
  font-weight: 700;
  color: var(--primary1);
}

a.underline{
  line-height: 0.7em;
  border-bottom: 1.5px var(--primary3) solid;
}

a:visited {
  color: black;
}

a:hover{
  color: var(--primary3);
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 500;
  font-size: 130%;
  color: var(--primary3);
}

.top-bar-container {
  display: flex;
  justify-content: space-between;
  
}
.logo {
  font-size: 150%;
  border-bottom: 0px;
}

ul.a {
  list-style: none;
  padding-left: 1%;
}

li.a { padding: 10px 0px 0px; }
li:first-child { margin-bottom: 0px; }
