body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Inconsolata', monospace;
  }
  
h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Inconsolata', monospace;
    margin-bottom: 0px;
}

  
  p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 888px;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }

